<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        html {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }

        .is-disabled {
            pointer-events: none;
        }

        .el-alert__title {
            font-size: 16px;
            line-height: 21px;
        }

        [v-cloak] {
            display: none;
        }

        .el-menu li {
            overflow: hidden;
        }

        .danger {
            color: #ff4949;
        }
    </style>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@1.3.7"></script>

    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/yamljs@0.3.0/dist/yaml.min.js"></script>
    <script src="../dist/schema-bundler.js"></script>
</head>
<body>
<div v-cloak id="app">
    <el-menu mode="horizontal">
        <el-menu-item disabled index="1"><h1 style="font-size: 20px; margin: 0; padding: 0">JSON Schema Bundler</h1>
        </el-menu-item>
        <el-menu-item index="2" style="float: right"><a href="https://github.com/darosh/json-schema-bundler"
                                                        style="text-decoration: none">GitHub</a></el-menu-item>
    </el-menu>
    <el-row>
        <el-col :xs="24" :sm="8" :md="4">
            <el-menu style="background-color: transparent">
                <el-menu-item v-if="index.pending" v-loading="index.pending"></el-menu-item>
                <el-menu-item-group v-if="!index.pending" v-for="(list, title) in index" :title="title">
                    <el-menu-item v-for="(v, k) in list" :index="title + k" @click="url = v"><i
                            :class="title === 'Circular' ? 'el-icon-circle-cross' : 'el-icon-document' "></i>
                        {{name(v)}}
                    </el-menu-item>
                </el-menu-item-group>
            </el-menu>
        </el-col>
        <el-col :xs="24" :sm="16" :md="20" style="padding: 24px">
            <el-input style="margin-bottom: 1px" placeholder="JSON or YAML URL address" v-model="url"></el-input>

            <el-progress v-bind:style="{'margin-bottom': '4px', visibility: showProgress ? 'visible' : 'hidden'}"
                         :status="fail ? 'exception' : ''"
                         :percentage="progress"></el-progress>
            <el-alert
                    v-if="!show"
                    title="Select sample, or enter JSON Schema URL address of file in JSON or YAML format."
                    type="info"
                    show-icon
                    :closable="false">
            </el-alert>
            <el-tabs v-if="show" type="border-card" v-model="tab">
                <el-tab-pane label="Bundled" name="1">
                    <span slot="label" style="font-weight: bold"><i v-if="fail" class="el-icon-circle-cross danger"></i>  Bundled</span>

                    <el-alert
                            v-if="fail"
                            :title="fail"
                            type="error"
                            show-icon
                            :closable="false">
                    </el-alert>

                    <el-input
                            v-if="!fail"
                            type="textarea"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                            :rows="30"
                            placeholder="Bundled JSON schema"
                            v-model="bundled">
                    </el-input>
                </el-tab-pane>
                <el-tab-pane name="2">
                    <span slot="label" style="font-weight: bold"><i v-if="error"
                                                                    class="el-icon-circle-cross danger"></i> Dereferenced</span>

                    <el-alert
                            v-if="error"
                            :title="error"
                            type="error"
                            show-icon
                            :closable="false">
                    </el-alert>

                    <div v-if="error" style="margin-top: 15px">See object dump in browser console instead.</div>

                    <el-input
                            v-if="!error"
                            type="textarea"
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                            :rows="30"
                            placeholder="Dereferenced JSON schema"
                            v-model="dereferenced">
                    </el-input>
                </el-tab-pane>
                <el-tab-pane v-for="(v, k) in files" :label="name(k)" :name="k">
                    <el-input
                            type="textarea"
                            :rows="30"
                            v-model="string(v)"
                            placeholder="File content">
                    </el-input>
                </el-tab-pane>
            </el-tabs>
        </el-col>
    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                url: '',
                bundled: '',
                dereferenced: '',
                index: {pending: true},
                files: {},
                progress: 0,
                showProgress: false,
                tab: '1',
                show: false,
                error: false,
                fail: false
            };
        },
        created() {
            axios.get('index.json').then(res => {
                this.index = res.data;
                const s = location.pathname.split('/');
                s[s.length - 1] = this.index['External'][0];
                this.index['Absolute URL'] = [location.origin + s.join('/')];
            });
        },
        watch: {
            url: function (val) {
                this.show = true;
                this.progress = 0;
                this.showProgress = true;
                this.files = {};
                this.bundled = '';
                this.dereferenced = '';
                this.tab = '1';
                this.error = false;
                this.fail = false;

                let start = new Date();
                const schema = new schemaBundler.Schema(val, stat => {
                    this.progress = Math.round(100 * stat.loaded / stat.total);

                    if (this.progress < 100) {
                        this.showProgress = true;
                    } else {
                        setTimeout(() => {
                            this.showProgress = false;
                        }, 400);
                    }
                });

                schema.load()
                    .then(() => {
                        this.files = schema.cache;
                        schema.bundle();
                        this.bundled = JSON.stringify(schema.bundled, null, 2);
                        schema.deref();

                        try {
                            this.dereferenced = JSON.stringify(schema.bundled, null, 2);
                        } catch (ign) {
                            this.error = ign.toString();
                            console.log('Faled JSON.stringify', schema.bundled);
                        }

                        const files = Object.keys(schema.cache).length;
                        this.$message({
                            message: 'Loaded and parsed ' + files + ' ' + (files > 1 ? 'files' : 'file') + ' in ' + ((new Date() - start) / 1000) + ' seconds.',
                            type: this.error ? 'error' : 'success'
                        });
                    })
                    .catch(err => {
                        this.fail = err.toString();
                        this.progress = 50;
                        setTimeout(() => {
                            this.showProgress = false;
                        }, 400);
                        console.error(err);
                    });
            }
        },
        methods: {
            name: (v) => {
                return v.split('/').pop()
            },
            string: (v) => {
                return typeof v === 'object' ? JSON.stringify(v, null, 2) : v
            }
        }
    })
</script>
</body>
</html>
